*{
    margin: 0;
    padding: 0;
    font-family: Cambria;
}

body{
    background-color: #000;
}

.central-container{
    display: flex;
    margin: 0 30px;
    flex-grow: 3;
}

/* nav bar */

header{
    padding: 20px;
    background-color: #802D2E;
}


.nav-bar{
    display: flex;
    align-items: center;
    height: 30px;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 0 5px;
}

.nav-bar h1{
    font-size: 40px;
    margin: 0 600px 0 60px;
    color: #fff;
}

.nav-bar a{
    background-color: #da5700;
    margin-left: 40px;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-bar a:hover{
    background-color: #ff6e0d;
}


/* cars */

section img{
    width: 500px;
    height: 350px;
    margin-left: 40px;
    border-radius: 10px;
}

section .car{
    background-color: #c2c2c2;
    margin: 15px auto;
    height: 500px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
}

.description{
    font-size: 15px;
    margin-left: 60px;
}



/* footer */

footer{
    display: flex;
    background-color: #802D2E;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 100%;
}

footer p{
    font-size: 20px;
    margin-top: 10px;
}

/* aside */

.aside-div{
    width: 210px;
    margin: 15px 5px 5px 10px;
    padding: 0 20px;
    background-color: #c2c2c2;
    border: 2px solid black;
}

.aside-div a{
    color: black;
    text-decoration: none;
}

.aside-div a:hover{
    color: #777;
}

.aside-div h3{
    text-align: center;
    margin: 5px auto;
    border-bottom: 1.5px solid #000;
}

/* -----------------SEÇÃO HATCHES--------------- */

.main-title{
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    font-size: 40px;
}


#main-hatch{
    display: flex;
    margin:10px 10px;
}

#main-hatch section{
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#main-hatch section div{
    border: 2px solid #000;
    width: 400px;
    height: 450px;
}

#main-hatch section div .car-sample-subcompacts{
    background-color: #000;
}

#main-hatch section div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c2c2;
    color: #000;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #000;
}

#main-hatch section div p{
    background-color: #c2c2c2;
    margin: 10px auto;
    width: 90%;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* ----------------------NEW HOME PAGE CSS-------------------------------- */

a.disabled {
    background-color: #333 !important;
}


.central-title{
    text-align: center;
    margin: 30px 0;
    color: #802D2E;
    font-size: 45px;
    font-family: fantasy;
}

.underline-test{
    text-align: center;
    margin-top: -70px;
    font-size: 50px;
    color: #802D2E;
}

.category-container{
    background-color: #802D2E;
    flex-wrap: wrap;
    display: flex;
    width: 96%;
    margin: 0 auto;
    padding: 20px 20px;
    justify-content: space-between;
}

/* Side Nav teste */

/* Estilos para a barra de navegação lateral */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #802D2E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    border-right: 1px solid #000;
}

/* Estilos para os links da barra de navegação lateral */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

/* Estilos para os links da barra de navegação lateral ao passar o mouse */
.sidenav a:hover {
    background-color: #813334;
    font-size: 25px;

}

.sidenav p{
    padding-left: 30px;
    margin-top: 10px;
    color: #fff;
    font-size: 27px;
    background-color: #813334;
}

/* Estilos para o botão que abre a barra de navegação lateral */
#openNav {
    position: absolute;
    color: #fff;
    top: 20px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
}

.open-sidenav{
    margin: -9px 0 0 20px;
}

.more-button{
    background-color: #da5700;
    width: 110px;
    border: none;
    margin: -10px 0 15px 15px;
}

.more-button:hover{
    background-color: #ff6e0d;
    transition: 0.3s;
}

.car-img-main{
    height: 150px;
}

.car-category{
    border: none;
}

/* ---- HATCHES ---- */

.car-brand{
    border: none;   
}

.car-brand-img{
    width: 140px;
    height: 140px;
    margin: 10px auto;
}

.car-option{
    text-decoration: none;
    color: #000;
    font-size: 22px;
}

.car-option:hover{
    color: #da5700;

}


/* ------------ CSS do form fale conosco ---------- */

.fale-conosco-container{
    height: 500px;
    text-align: center;
}

.fale-conosco-container h2{
    color: #802D2E;
    margin: 70px 0 0 0;
    font-size: 60px;
    font-weight: bold;
}

.fale-conosco-container h3{
    color: #802D2E;
    margin: 30px 0 0 0;
    font-size: 30px;
}

.fale-conosco-container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;
}

.line-1-form{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.fale-conosco-container input{
    width: 480px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding-left: 10px;
    border: none;
}
.fale-conosco-container input:focus{
    outline-color: #da5700;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 0;
}

.fale-conosco-container input[type="submit"]{
    background-color: #da5700;
    color: #fff;
    margin-top: 20px;
}

.fale-conosco-container input[type="submit"]:hover{
    background-color: #ff6e0d;
}

#sugestao{
    resize: none;
    width: 1000px;
    height: 100px;
    border-radius: 20px;
    padding-left: 10px;
}

#sugestao:focus{
    outline-color: #da5700;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 0;
}


/* Inserção de modal no botão Mais Sobre */

.hidden{
    display: none;
}

.close-modal{
    color: #fff;
    cursor: pointer;
}
.close-modal2{
    color: #fff;
    cursor: pointer;
}

.category-container .hatch{
    margin-top: 20px;
}